.contact {
    background-image: url('https://st2.depositphotos.com/1265075/7365/i/450/depositphotos_73656201-stock-photo-web-contact-us-icons-cubes.jpg');
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
  }
  
  .contact-para {
    color: black;
  }
  
  .contact-image {
    border-radius: 15px;
  }
  
  .contact-heading {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .contact {
      height: 50vh;
      color: white;
    }
    .contact-image {
      width: 200px;
    }
    .contact-para {
      color: white;
    }
  }